* {
    font-size: 14px;
    font-family: "PingHei SC", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
}

@themeDark: #3A4856;
@themeGrey: #9EADBD;
@themeWhite: #F0F4F8;
@themeBlue: #3CACF2;
@themeRed: #FF7483;
@themeGreen: #40C9B7;

.element-height {
    height: 42px;
    line-height: 42px;
}

.screen {
    height: 100vh;
    width: 100vw;
    min-height: 992px;
    min-width: 1024px;
}

.layout-flex {
    display: flex
}

.sidebar-lg {
    width: 280px;
    height: 100vh;
    background-color: @themeWhite;
}

.moblie-height {
    height: 36px;
    line-height: 36px;
}

.normal-shadow {
    box-shadow: 3px 2px 8px 3px #F0F4F8
}

.hover-shadow {
    box-shadow: 5px 5px 8px 5px #E0E1E2;
}

.small-shadow {
    box-shadow: 1px 1px 3px 1px rgba(154, 154, 154, 0.3);
}

.hero-font {
    font-size: 2.1rem;
    font-weight: 600;
}

.super-font {
    font-size: 1.8rem;
    font-weight: 500;
}

.title-font {
    font-size: 1.5rem;
    font-weight: 500;
}

.subTitle-font {
    font-size: 1.25rem;
    font-weight: 500;
}

.normal-font {
    font-size: 1.05rem;
    font-weight: 500;
}

.tip-font {
    font-style: italic;
    font-size: 0.75rem;
    font-weight: 400;
}


.text-dark {
    color: @themeDark;
}

.text-grey {
    color: @themeGrey;
}

.text-white {
    color: @themeWhite;
}

.text-blue {
    color: @themeBlue;
}

.text-red {
    color: @themeRed;
}

.text-green {
    color: @themeGreen;
}

.bg-dark {
    background-color: @themeDark;
}

.bg-grey {
    background-color: @themeGrey;
}

.bg-white {
    background-color: @themeWhite;
}

.bg-blue {
    background-color: @themeBlue;
}

.bg-red {
    background-color: @themeRed;
}

.bg-green {
    background-color: @themeGreen;
}

.mgv-1 {
    margin: 1rem 0;
}

.mgv-2 {
    margin: 2rem 0;
}

.mgv-3 {
    margin: 3rem 0;
}

.mgv-4 {
    margin: 4rem 0;
}

.mgv-5 {
    margin: 5rem 0;
}

.mgv-6 {
    margin: 6rem 0;
}

.mgv-7 {
    margin: 7rem 0;
}

.mgv-8 {
    margin: 8rem 0;
}

.mgv-9 {
    margin: 9rem 0;
}

.mgh-1 {
    margin: 0 1rem;
}

.mgh-2 {
    margin: 0 2rem;
}

.mgh-3 {
    margin: 0 3rem;
}

.mgh-4 {
    margin: 0 4rem;
}

.mgh-5 {
    margin: 0 5rem;
}

.mgh-6 {
    margin: 0 6rem;
}

.mgh-7 {
    margin: 0 7rem;
}

.mgh-8 {
    margin: 0 8rem;
}

.mgh-9 {
    margin: 0 9rem;
}

@import url('./medias/main.less');